$backgroundLight: white;
$backgroundDark: #152028;

$primaryLight: #2c5de6;;
$primaryDark: #2c5de6;;

$colorLight: rgba(black, .8);
$colorDark: rgba(white, .8);

$headerSize: 60px;

$paddingLeftRight: 3rem;
$paddingLeftRightTablet: 2rem;
$paddingLeftRightMobile: 1rem;
